<a href="https://colab.research.google.com/github/maxwillzq/algoTrading/blob/main/Chapter_2_portfolio_optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Portfolio Optimization and Algorithmic Trading

## install software

In [1]:
#!pip install git+https://github.com/maxwillzq/algoTrading.git

# Select stock from stock table

Step 1: choose **stock**

In [2]:
import algotrading
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
test = {}
stock_name_list  = ["BABA", "TSM", "PDD"]
end = end = dt.datetime.now()
start = start =  end - dt.timedelta(3000)
for stock_name in stock_name_list:
  stock = algotrading.stock.Stock(stock_name)
  stock.read_data(start, end)
  test[stock_name] = stock.df['Close']
test = pd.DataFrame(test)

In [4]:
test

                  BABA         TSM         PDD
Date
2021-06-01  219.479996  118.510002  139.339996
2021-06-02  219.589996  118.949997  139.899994
2021-06-03  217.039993  116.820000  133.449997
2021-06-04  219.020004  119.510002  132.169998
2021-06-07  216.899994  118.220001  127.930000
...                ...         ...         ...
2022-05-23   87.230003   91.500000   40.450001
2022-05-24   82.470001   88.720001   36.959999
2022-05-25   82.309998   90.410004   38.310001
2022-05-26   94.480003   91.000000   41.930000
2022-05-27   93.410004   93.769997   48.299999

[252 rows x 3 columns]

In [5]:
# Yearly returns for individual companies
ind_er = test.resample('M').last().pct_change().mean()
cov_matrix = test.pct_change().apply(lambda x: np.log(1+x)).cov()

In [6]:
ind_er

BABA   -0.072227
TSM    -0.020778
PDD    -0.073955
dtype: float64

In [7]:
test.resample('M').last().pct_change()

                BABA       TSM       PDD
Date
2021-06-30       NaN       NaN       NaN
2021-07-31 -0.139298 -0.029294 -0.278775
2021-08-31 -0.144475  0.020319  0.091802
2021-09-30 -0.113420 -0.061844 -0.093481
2021-10-31  0.114083  0.018361 -0.019301
2021-11-30 -0.226810  0.030343 -0.252137
2021-12-31 -0.068533  0.026974 -0.123308
2022-01-31  0.058928  0.019284  0.026415
2022-02-28 -0.163765 -0.127375 -0.133356
2022-03-31  0.034319 -0.025699 -0.226572
2022-04-30 -0.107629 -0.108671  0.074296
2022-05-31 -0.037903  0.009039  0.120910